In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_csv("C:\\Users\Siam\Desktop\machine learning\data.csv")
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [8]:
df_missing = df.isnull().sum() 
df_missing

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [21]:
df_missing = (df.isnull().sum()/ len(df)).sort_values(ascending = False) 
df_missing  = df_missing[df_missing > 0.50 ]
df_missing

PoolQC         0.995205
MiscFeature    0.963014
Alley          0.937671
Fence          0.807534
MasVnrType     0.597260
dtype: float64

In [27]:
df_obj = df.select_dtypes(include='object')
df_obj.columns

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [43]:
df_obj.shape

(1460, 43)

In [28]:
for col in df_obj.columns:
    print(col,':',len(df_obj[col].unique()), 'labels')

MSZoning : 5 labels
Street : 2 labels
Alley : 3 labels
LotShape : 4 labels
LandContour : 4 labels
Utilities : 2 labels
LotConfig : 5 labels
LandSlope : 3 labels
Neighborhood : 25 labels
Condition1 : 9 labels
Condition2 : 8 labels
BldgType : 5 labels
HouseStyle : 8 labels
RoofStyle : 6 labels
RoofMatl : 8 labels
Exterior1st : 15 labels
Exterior2nd : 16 labels
MasVnrType : 4 labels
ExterQual : 4 labels
ExterCond : 5 labels
Foundation : 6 labels
BsmtQual : 5 labels
BsmtCond : 5 labels
BsmtExposure : 5 labels
BsmtFinType1 : 7 labels
BsmtFinType2 : 7 labels
Heating : 6 labels
HeatingQC : 5 labels
CentralAir : 2 labels
Electrical : 6 labels
KitchenQual : 4 labels
Functional : 7 labels
FireplaceQu : 6 labels
GarageType : 7 labels
GarageFinish : 4 labels
GarageQual : 6 labels
GarageCond : 6 labels
PavedDrive : 3 labels
PoolQC : 4 labels
Fence : 5 labels
MiscFeature : 5 labels
SaleType : 9 labels
SaleCondition : 6 labels

In [29]:
for col in df.columns:
    print(col,':',len(df[col].unique()), 'labels')

Id : 1460 labels
MSSubClass : 15 labels
MSZoning : 5 labels
LotFrontage : 111 labels
LotArea : 1073 labels
Street : 2 labels
Alley : 3 labels
LotShape : 4 labels
LandContour : 4 labels
Utilities : 2 labels
LotConfig : 5 labels
LandSlope : 3 labels
Neighborhood : 25 labels
Condition1 : 9 labels
Condition2 : 8 labels
BldgType : 5 labels
HouseStyle : 8 labels
OverallQual : 10 labels
OverallCond : 9 labels
YearBuilt : 112 labels
YearRemodAdd : 61 labels
RoofStyle : 6 labels
RoofMatl : 8 labels
Exterior1st : 15 labels
Exterior2nd : 16 labels
MasVnrType : 4 labels
MasVnrArea : 328 labels
ExterQual : 4 labels
ExterCond : 5 labels
Foundation : 6 labels
BsmtQual : 5 labels
BsmtCond : 5 labels
BsmtExposure : 5 labels
BsmtFinType1 : 7 labels
BsmtFinSF1 : 637 labels
BsmtFinType2 : 7 labels
BsmtFinSF2 : 144 labels
BsmtUnfSF : 780 labels
TotalBsmtSF : 721 labels
Heating : 6 labels
HeatingQC : 5 labels
CentralAir : 2 labels
Electrical : 6 labels
1stFlrSF : 753 labels
2ndFlrSF : 417 labels
LowQualFinSF : 24 labels
GrLivArea : 861 labels
BsmtFullBath : 4 labels
BsmtHalfBath : 3 labels
FullBath : 4 labels
HalfBath : 3 labels
BedroomAbvGr : 8 labels
KitchenAbvGr : 4 labels
KitchenQual : 4 labels
TotRmsAbvGrd : 12 labels
Functional : 7 labels
Fireplaces : 4 labels
FireplaceQu : 6 labels
GarageType : 7 labels
GarageYrBlt : 98 labels
GarageFinish : 4 labels
GarageCars : 5 labels
GarageArea : 441 labels
GarageQual : 6 labels
GarageCond : 6 labels
PavedDrive : 3 labels
WoodDeckSF : 274 labels
OpenPorchSF : 202 labels
EnclosedPorch : 120 labels
3SsnPorch : 20 labels
ScreenPorch : 76 labels
PoolArea : 8 labels
PoolQC : 4 labels
Fence : 5 labels
MiscFeature : 5 labels
MiscVal : 21 labels
MoSold : 12 labels
YrSold : 5 labels
SaleType : 9 labels
SaleCondition : 6 labels
SalePrice : 663 labels

In [34]:
df.SaleType.value_counts().sort_values(ascending = False).head(3)

SaleType
WD     1267
New     122
COD      43
Name: count, dtype: int64

In [37]:
top_10 =[ x for x in df.SaleType.value_counts().sort_values(ascending = False ).head(3).index]
top_10

['WD', 'New', 'COD']

In [42]:
for label in top_10:
    df[label] = np.where(df['SaleType'] == label, 1,0) 

df[['SaleType'] +top_10].head(40)

   SaleType  WD  New  COD
0        WD   1    0    0
1        WD   1    0    0
2        WD   1    0    0
3        WD   1    0    0
4        WD   1    0    0
5        WD   1    0    0
6        WD   1    0    0
7        WD   1    0    0
8        WD   1    0    0
9        WD   1    0    0
10       WD   1    0    0
11      New   0    1    0
12       WD   1    0    0
13      New   0    1    0
14       WD   1    0    0
15       WD   1    0    0
16       WD   1    0    0
17       WD   1    0    0
18       WD   1    0    0
19      COD   0    0    1
20      New   0    1    0
21       WD   1    0    0
22       WD   1    0    0
23       WD   1    0    0
24       WD   1    0    0
25       WD   1    0    0
26       WD   1    0    0
27       WD   1    0    0
28       WD   1    0    0
29       WD   1    0    0
30       WD   1    0    0
31       WD   1    0    0
32       WD   1    0    0
33       WD   1    0    0
34       WD   1    0    0
35       WD   1    0    0
36       WD   1    0    0
37       WD   1    0    0
38       WD   1    0    0
39       WD   1    0    0

In [80]:
dff = pd.read_csv('C:\\Users\Siam\Desktop\machine learning\marcedes_train.csv')
df = dff[['X1','X2']].head(10)
df

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n
5  b   e
6  r   e
7  l  as
8  s  as
9  b  aq

In [82]:
for col in df.columns[0:]:
    print(col ,':' , len(df[col].unique()))

X1 : 7
X2 : 6

In [81]:
len(df.X2.unique())

6